h1, h2, h3 {
	font-family: 'Sigmar One', cursive;
	color: #cc3865;
}
h2{
	border-top: 3px solid #ffe524;
	line-height: 3em;
	margin-bottom: 0;
}
nav ol{
	padding: 0;
	margin-bottom: 0;
}
nav li {
	padding: .5em;
	border-radius: .2em;
	background-color: #b2a215;
	display: inline-block;
}
nav a {
	text-decoration: none;
	color: white;
}
nav li:hover{
	background-color: #cc3865;
}
header{
	background-color: #ffe524;
text-align: center;
}
body, header h1, dd {
	margin: 0;
}
main{
	padding: .5em;
}
nav{
	padding-bottom: .5em;
}
blockquote{
	font-family: georgia, serif;
	font-style:italic;
	color: #b2a215;
	text-align: center;
}
blockquote cite{
	text-align: center;
	display: block;
}
blockquote span{
	display: block;
	font-size: 2.5rem;
	text-align: center;
}
img{
	width: 100%;
}
figure{
	background-color: #fffce0;
	padding: .75em;
	margin-right: 0;
	margin-left: 0;
	border-radius: .5em;
	border: 1px solid #b2a215;
	text-align: center;
	font-size: .75em;
	line-height:1.5em;
}
.italic {
	font-style: italic;
}
dt{
	font-weight: bold;
}
footer {
		background-color: #ffe524;
text-align: center;
padding: 0.5em;
}
a {
		color: #cc3865;
}
